.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tags = selector uses tag */
body{
  background-color:rgb(44, 42, 47);
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p{
  font-size: medium;
}

video{
  padding-top: 10px;
  padding-left: 25px;
}

/* Class = Selector uses . */
.MainBody{
  padding-left: 15%;
  padding-right: 15%;
}

.flex-container{
  display: flex;
}

/* ID = selector uses # */
#title{
  font-size: 50px;
  text-align: center;
}

#inline-img{
  width: 400px;
  height: 150px;
  padding-right: 25px;
}

#myGitHub{
  padding-top: 25px;
  padding-left: 25px;
  width: 30px;
  height: 30px;
}